body, html{
  height: 100%;
  font-family: 'Lato', sans-serif;
  overflow: hidden;
}
body{
  position: relative;
  margin: 0;
  transition: height, 2s;
  background-image: url("../images/bg.jpg");
  background-size: cover;
}
h1{
  font-weight: 900;
}
a{
  color:tomato;
  text-decoration: none;
  border-bottom: 1px dashed tomato;
}
a:hover{
  color:tomato;
  text-decoration: none;
}
a:active{
  color:tomato;
  text-decoration: none;
}
a:visited{
  color:tomato;
  text-decoration: none;
}
a:link{
  color:tomato;
  text-decoration: none;
}
.container{
  position: absolute;
  top: 60px;
  bottom: 20px;
  width: 100%;
}
.mainDiv{
  -ms-overflow-style:none;
  overflow: auto;
  position: absolute;
  width:100%;
  height:100%;
  max-height:0;
  background-image: url("../images/content_bg.jpg");
  left:50%;
  top:50%;
  border-radius: 10px;
      -ms-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 10px 25px 45px -25px rgba(0,0,0,0.60);
     -moz-box-shadow: 10px 25px 45px -25px rgba(0,0,0,0.60);
          box-shadow: 10px 25px 45px -25px rgba(0,0,0,0.60);
}
.mainDiv::-webkit-scrollbar{
  display: none;
}
.content{
  overflow-x: hidden;
  padding: 0 25px;
  color: #434A54;
}
section{
  position: relative;
  padding-top: 20px;
  margin-bottom: 100px;
}
section div{
  overflow: auto;
}
nav{
  width: 680px;
  margin: 0 auto;
  padding: 0 10px;
  overflow: auto;
  color:white;
  text-align: right;
  z-index: 100;
}
nav h1{
  float: left;
  font-size: 1.5em;
  margin: 17px 10px;
}
nav li{
  display: inline-block;
  margin: 10px;
}
nav .menu{
  cursor: pointer;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}
nav .menu:hover{
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  transition: 1s;
}
nav .actived{
  border-bottom: 2px solid rgba(255, 255, 255, 1);
  transition: 1s;
}
.fade.ng-enter{
  transition: 2s;
  opacity:0;
}
.fade.ng-enter-active{
  opacity: 1;
}
.fade.ng-leave{
  transition: 2s;
  opacity: 1;
}
.fade.ng-leave-active{
 opacity:0;
}
.fade.ng-enter-stagger{
  transition-delay:0.5s;
}
.welcome{
  height: 380px;
  padding-top: 10px;
  margin-bottom: 0;
}
.gear{
  position: absolute;
  z-index: -1;
}
.gear1{
  width: 300px;
  top: -150px;
  right: -150px;
  -webkit-animation: gear_one 12s linear infinite;
     -moz-animation: gear_one 12s linear infinite;
          animation: gear_one 12s linear infinite;
}
.gear2{
  width: 200px;
  bottom: -100px;
  left: -100px;
  -webkit-animation: gear_two 5s linear infinite;
     -moz-animation: gear_two 5s linear infinite;
          animation: gear_two 5s linear infinite;
}
.welcome h1{
  font-size: 1.5em;
  margin: 15px;
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 60s infinite linear;
     -moz-animation: hue 60s infinite linear;
          animation: hue 60s infinite linear;
}
.welcome small{
  font-size: 0.7em;
  font-weight: 400;
}
.welcome .welcome_menu{
  padding: 0;
  text-align: center;
}
.welcome .welcome_menu_item{
  line-height: 30px;
  overflow: hidden;
  display: inline-block;
  margin: 5px 30px;
  height: 150px;
  list-style-type: none;
  cursor: pointer;
  padding: 10px 10px;
}
.welcome .welcome_menu_item:first-child{
  margin-left: 0;
}
.welcome .welcome_menu_item:last-child{
  margin-right: 0;
}
.welcome .welcome_menu_item:hover{
  color: #52ACFF;
  font-size: 1.2em;
  transition: 0.5s;
}
.welcome .welcome_menu_item img{
  width: 80px;
  height: 80px;
  border: 7px solid rgba(255,255,255,0.7);
  border-radius: 50%;
}
.welcome .summary{
  width: 630px;
  line-height: 27px;
  position: relative;
  margin: 10px 0;
  padding-left: 20px;
  font-size: 19px;
  font-weight: 300;
  font-style: italic;
  left: 150%;
  -webkit-animation: fromRight 1s ease 2s forwards;
     -moz-animation: fromRight 1s ease 2s forwards;
          animation: fromRight 1s ease 2s forwards;
}
.welcome .summary span{
  color: black;
  font-weight: 400;
  font-style: italic;
}
.skills{
  text-align: center;
}
.skills img{
  position: absolute;
  width:100px;
}
.skills .left{
  left: 0;
}
.skills .left100{
  left: 100px;
}
.skills .right{
  right: 0;
}
.skills .right100{
  right: 100px;
}
.skills .shadow_down{
  margin-top: 340px;
  margin-bottom: 50px;
  height: 60px;
-webkit-box-shadow: 0px 15px 30px -25px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px 15px 30px -25px rgba(0,0,0,0.75);
        box-shadow: 0px 15px 30px -25px rgba(0,0,0,0.75);
}
.skills .shadow_up{
  margin-top: 50px;
  height: 60px;
-webkit-box-shadow: 0px -15px 30px -25px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px -15px 30px -25px rgba(0,0,0,0.75);
        box-shadow: 0px -15px 30px -25px rgba(0,0,0,0.75);
}
.skills h1{
  font-size: 2em;
  font-weight: 400;
  font-style: italic;
  margin: 15px 0;
}
.about article{
  margin-bottom: 50px;
  overflow: auto;
}
.about h3, .about h4, .about p{
  margin: 10px 0;
}
.about article img{
  width: 150px;
  float: left;
  border: 10px solid #fcfcfc;
  margin-left: 10px;
  border-radius: 50%;
}
.about article div{
  padding: 20px;
}
.about h3 span{
  font-size: 0.9em;
  font-weight: 300;
  font-style: italic;
  padding-left: 10px;
}
.about i{
  font-family: 'Dancing Script', cursive;
}
.about .line {
  position: absolute;
  border-left: 4px solid #d0eaea;
  left: 95px;
  top: 50px;
  bottom: 50px;
  z-index: -1;
}
.portfolio article{
  padding: 20px 0 20px 80px;
  overflow: auto;
}
.portfolio hr{
  margin-left: 80px;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
.portfolio p{
  font-size: 0.9em;
}
.portfolio .side_bar{
  text-align: center;
  left: -4px;
  position: absolute;
  width: 66px;
  padding: 40px 0;
  background:-webkit-linear-gradient(rgba(0,0,0,0), rgba(0,200,255,0.25) 5%, rgba(0, 200, 255, 0.25) 95%, rgba(0,0,0,0));/* Standard syntax */
  background:     -o-linear-gradient(rgba(0,0,0,0), rgba(0,200,255,0.25) 5%, rgba(0, 200, 255, 0.25) 95%, rgba(0,0,0,0));/* Standard syntax */
  background:   -moz-linear-gradient(rgba(0,0,0,0), rgba(0,200,255,0.25) 5%, rgba(0, 200, 255, 0.25) 95%, rgba(0,0,0,0));/* Standard syntax */
  background:        linear-gradient(rgba(0,0,0,0), rgba(0,200,255,0.25) 5%, rgba(0, 200, 255, 0.25) 95%, rgba(0,0,0,0));/* Standard syntax */
}
.portfolio .side_bar img{
  width: 50px;
  margin: 2px;
  border: 1px solid rgb(103, 103, 103);
  cursor: pointer;
}
.portfolio h3, .portfolio h4, .portfolio p{
  margin: 10px 0;
}
.portfolio h4{
  font-weight:300;
  font-style:italic
}
.portfolio article img{
  width: 200px;
  float: right;
  border: 7px solid #fcfcfc;
  margin: 40px 0 0 20px;
  -webkit-box-shadow: 5px 10px 20px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 10px 20px -10px rgba(0,0,0,0.75);
  box-shadow: 5px 10px 20px -10px rgba(0,0,0,0.75);
}
.contact{
  padding-top: 0;
  margin-bottom: 0;
}
.contact h2{
  color:#656d78;
  font-weight:400;
  font-style:italic;
  line-height: 40px;
  padding: 30px 0;
}
.contact .links{
  padding: 40px 0;
  margin-left: 250px;
  border-left: 1px solid black;
  padding-left: 10px;
}
.contact p{
  overflow: auto;
}
.contact img{
  float:left;
  height: 30px;
}
.contact a{
  float: left;
  margin: 5px;
}
.copyright{
  position: absolute;
  bottom:0px;
  width: 100%;
  text-align: center;
}.star{
  z-index: -1;
  overflow: visible;
  position: absolute;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

@-webkit-keyframes fromRight {
  from {
    left: 100%;
  }

  to {
    left: 0;
  }
}
@-moz-keyframes fromRight {
  from {
    left: 100%;
  }

  to {
    left: 0;
  }
}
@keyframes fromRight {
  from {
    left: 100%;
  }

  to {
    left: 0;
  }
}
@-webkit-keyframes gear_one {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(-360deg);
  }
}
@-moz-keyframes gear_one {
  from {
       -moz-transform: rotate(0deg);
  }

  to {
       -moz-transform: rotate(-360deg);
  }
}
@keyframes gear_one {
  from {
            transform: rotate(0deg);
  }

  to {
            transform: rotate(-360deg);
  }
}
@-webkit-keyframes gear_two {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes gear_two {
  from {
       -moz-transform: rotate(0deg);
  }
  to {
       -moz-transform: rotate(360deg);
  }
}
@keyframes gear_two {
  from {
            transform: rotate(0deg);
  }
  to {
            transform: rotate(360deg);
  }
}
