<!DOCTYPE html>
<html ng-app="portfolio">
  <head>
    <meta charset="utf-8">
    <title>Imtaek Hong</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-animate.js"></script>
    <script type="text/javascript" src="./js/app.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Lato:400italic,300italic,400,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body ng-controller="MenuController" ng-init="init()">
    <nav>
      <h1 ng-if="visibleMenu.length" class="fade menu" ng-click="moveTo('section00')">Imtaek Hong</h1>
      <ul>
        <li ng-repeat="menu in visibleMenu" ng-click="moveTo(menu.targetId)" class="fade menu ng-class:{'actived':scroll.current>=menu.yStart&&scroll.current<menu.yEnd}">{{menu.name}}</li>
      </ul>
    </nav>
    <div class="debug" ng-if="false">
      S:{{contentStart}} Y:{{mainDiv.scrollTop}} action:{{test}}
    </div>
    <div class="container">
      <div ng-view class="mainDiv" ng-style="mainHeight">
        <div class="content">
          <section id="section00" class="welcome">
            <img src="./images/gear1.png" class="gear gear1" alt="" />
            <img src="./images/gear2.png" class="gear gear2" alt="" />
            <h1>Imtaek Hong <small>|  Web Developer |</small></h1>
            <p class="summary">
              "I am passionate about coding and apt at problem solving. I specialized in | <span>Node JS</span> | <span>Angular</span> | <span>REST APIs</span> | <span>Javascript</span> | <span>HTML/CSS</span> | <span>jQuery</span> | <span>Github</span> |; I also have experience with  | <span>C/C++</span> | <span>Java</span> | <span>Meteor JS</span> | <span>Ruby on rails</span> | <span>Adobe Experience Manager(AEM)</span>. I'm a quick learner and eager to learn a lot more. I'm ready to join your team in order to create something awesome together!"</p>
            <div class="welcome_menu">
              <div ng-repeat="menu in welcomeMenu" ng-click="moveTo(menu.targetId)" class="fade welcome_menu_item">
                <img ng-src="{{menu.imgUrl}}"/><br>
                {{menu.name}}
              </div>
            </div>
          </section>
          <section id="section01" class="skills">
            <div class="shadow_down"></div>
              <h1>MEAN STACK</h1>
              <img src="./images/skills_mongodb.png" class="left"/>
              <h1>MONGO DB</h1>
              <img src="./images/skills_express.png" class="right"/>
              <h1>EXPRESS JS</h1>
              <img src="./images/skills_angular.png" class="left100"/>
              <h1>ANGULAR</h1>
              <img src="./images/skills_nodejs.png" class="right100"/>
              <h1>NODE JS</h1>
              <img src="./images/skills_js.png" class="left"/>
              <h1>JAVASCRIPT</h1>
              <img src="./images/skills_socket.png" class="right"/>
              <h1>SOCKET.IO</h1>
              <img src="./images/skills_meteor.png" class="left100"/>
              <h1>METEOR JS</h1>
              <img src="./images/skills_rails.png" class="right100"/>
              <h1>RUBY ON RAILS</h1>
              <img src="./images/skills_ruby.png" class="left"/>
              <h1>RUBY</h1>
              <img src="./images/skills_postgresql.png" class="right"/>
              <h1>POSTGRESQL</h1>
              <img src="./images/skills_jquery.png" class="left100"/>
              <h1>JQUERY</h1>
              <img src="./images/skills_html.png" class="right100"/>
              <h1>HTML</h1>
              <img src="./images/skills_css.png" class="left"/>
              <h1>CSS</h1>
              <img src="./images/skills_bootstrap.png" class="right"/>
              <h1>BOOTSTRAP</h1>
              <img src="./images/skills_java.png" class="left100"/>
              <h1>JAVA</h1>
              <img src="./images/skills_git.png" class="right100"/>
              <h1>GIT</h1>
              <img src="./images/skills_github.png" class="left"/>
              <h1>GITHUB</h1>
              <h1>C/C++</h1>
            <div class="shadow_up"></div>
          </section>
          <section id="section02" class="about">
            <div class="line"></div>
            <article>
              <img src="./images/about_me.jpg" />
              <div class="me">
                <h3>Imtaek Hong</h3>
                <p>I was born and raised in South Korea and moved to the US in 2012 and obtained permanent residence(Green Card holder, eligible to work without visa sponsorship).</p>
                <p><a href="resume_imtaek_hong.pdf" target="_blank">Download Resume</a></p>
              </div>
            </article>

            <article>
              <img src="./images/about_haea.jpg" />
              <div>
                <i>Oct 2015 ~ Present</i>
                <h3>Hyundai America <span>Irvine, CA</span></h3>
                <h4>Full Stack Web Developer</h4>
                <p>Debugs and fixes reported issues from Hyundai websites(ASP.net MVC/AngularJS/AEM) by updating front end, back end, database(MSSQL) and APIs.</p>
                <p>Implements requested enhancements(new features, improving performance and creating new APIs) per scheduled timeline.</p>
              </div>
            </article>

            <article>
              <img src="./images/about_ga_ta.jpg" />
              <div>
                <i>Sep 2015 ~ Oct 2015</i>
                <h3>General Assembly <span>Los Angeles, CA</span></h3>
                <h4>Teaching Assistant</h4>
                <p>Helped students with their queries after class about codes, concepts and theories, also mentored students, drawing from experience​ as a former Web Development Immersive student.</p>
              </div>
            </article>

            <article>
              <img src="./images/about_ga.jpg" />
              <div>
                <i>Jun 2015 ~ Sep 2015</i>
                <h3>General Assembly <span>Los Angeles, CA</span></h3>
                <h4>Student - Web Development Immersive</h4>
                <p>Over 600 hours of MEAN stack(MongoDB, ExpressJS, AngularJS, NodeJS), Ruby on rails, PostgreSQL, Meteor JS,  jQuery, Javascript, etc. and 4 projects during the course.</p>
              </div>
            </article>

            <article>
              <img src="./images/about_ktnc.jpg" />
              <div>
                <i>Jan 2014 ~ Jan 2015</i>
                <h3>KT&C USA <span>Los Angeles, CA</span></h3>
                <h4>Inside Sales</h4>
                <p>Processed daily purchase orders and generated invoices & shipping orders, and also managed warehouse. I worked in fast-paced environment and had to cover other roles.</p>
              </div>
            </article>

            <article>
              <img src="./images/about_jk.jpg" />
              <div>
                <i>Nov 2012 ~ Jan 2014</i>
                <h3>Law Offices Of Jerry Kaufman <span>Los Angeles, CA</span></h3>
                <h4>Paralegal</h4>
                <p>Conducted initial consultation and managed new clients intake process, also researched and developed strategies for client cases, completed various legal forms.</p>
              </div>
            </article>

            <article>
              <img src="./images/about_ku.jpg" />
              <div>
                <i>Feb 2012</i>
                <h3>Konkuk University <span>Seoul, South Korea</span></h3>
                <h4>Microbiological Engineering</h4>
                <p>Studied Microbiological Engineering which involved learning how to process substances for cosmetics, foods and medicines using microorganisms and their DNA. I also worked in an Avellino gene test team checking human DNA mutation.</p>
              </div>
            </article>
          </section>
          <section id="section03" class="portfolio">
            <div class="side_bar">
              <img src="./images/portfolio_mb2.jpg" ng-click="moveTo('portfolio07','section03')" title="iBalloon(Insta-Balloon)"/>
              <img src="./images/portfolio_project4.jpg" ng-click="moveTo('portfolio06','section03')" title="iBalloon(Insta-Balloon)"/>
              <img src="./images/portfolio_project3.jpg" ng-click="moveTo('portfolio05','section03')" title="Stalker App"/>
              <img src="./images/portfolio_project2.jpg" ng-click="moveTo('portfolio04','section03')" title="M Cinema"/>
              <img src="./images/portfolio_project1.jpg" ng-click="moveTo('portfolio03','section03')" title="Hello World!"/>
              <img src="./images/portfolio_tic_tac_toe.jpg" ng-click="moveTo('portfolio02','section03')" title="Theme Changeable Tic-Tac-Toe"/>
              <img src="./images/portfolio_memo_calendar.jpg" ng-click="moveTo('portfolio01','section03')" title="Memo Calendar"/>
              <img src="./images/portfolio_space_fighter.jpg" ng-click="moveTo('portfolio00','section03')" title="Space Fighter"/>
            </div>

            <article id="portfolio07">
              <a href="http://www.a-mean-blog.com/ko" target="_blank"><img src="./images/portfolio_mb2.jpg" alt="" /></a>
              <div>
                <h3>A-MEAN-Blog.com</h3>
                <h4>MEAN Stack(MongoDB, ExpressJS, Angular, NodeJS) | HTML | CSS | Bootstrap</h4>
                <p>My programing blog site(there are only korean contents yet..)</p>
                <p></p>
                <p><a href="http://www.a-mean-blog.com/ko" target="_blank">http://www.a-mean-blog.com/ko</a></p>
              </div>
            </article>
            <hr>

            <article id="portfolio06">
              <a href="http://iballoon.herokuapp.com" target="_blank"><img src="./images/portfolio_project4.jpg" alt="" /></a>
              <div>
                <h3>iBalloon(General Assembly Project)</h3>
                <h4>MEAN Stack(MongoDB, ExpressJS, AngularJS, NodeJS) | Javascript | Socket IO | Google MAP API | Instagram Auth & API | HTML | CSS | Bootstrap | Gulp | SASS</h4>
                <p>Users select a photo from Instagram and set a destination and then are able to see the photo moving from their current location to the destination on google maps.</p>
                <p>Users can also see other users’ photos traveling on the map</p>
                <p><a href="http://iballoon.herokuapp.com" target="_blank">http://iballoon.herokuapp.com</a></p>
              </div>
            </article>
            <hr>

            <article id="portfolio05">
              <a href="http://stalkerrr.herokuapp.com" target="_blank"><img src="./images/portfolio_project3.jpg" alt="" /></a>
              <div>
                <h3>Stalker App(General Assembly Project)</h3>
                <h4>NodeJS | ExpressJS | MongoDB | Javascript | jQuery | HTML | CSS | Google Plus Auth & API | Twitter Auth & API | Facebook Auth | Instagram API | Youtube API | Tumblr API</h4>
                <p>Role: authentication APIs(local, facebook, google, twitter) and twitter panel, tumblr panel.</p>
                <p>A website users can see other’s public feeds from Instagram, Google Plus, Twitter, Youtube and Tumblr in a single page - users do not need to log into each individual service.</p>
                <p><a href="http://stalkerrr.herokuapp.com" target="_blank">http://stalkerrr.herokuapp.com</a></p>
              </div>
            </article>
            <hr>

            <article id="portfolio04">
              <a href="http://mcinemas.herokuapp.com" target="_blank"><img src="./images/portfolio_project2.jpg" alt="" /></a>
              <div>
                <h3>M Cinema(General Assembly Project)</h3>
                <h4>Ruby on rails | PostgreSQL | Ruby | Javascript | jQuery | HTML | CSS</h4>
                <p>A movie theater app. Users can see current playing movies, book tickets and see their booking history. Admin(ID:admin@mtheater.com, PASSWORD: admin) can add movies and create movie schedules.</p>
                <p><a href="http://mcinemas.herokuapp.com" target="_blank">http://mcinemas.herokuapp.com</a></p>
              </div>
            </article>
            <hr>

            <article id="portfolio03">
              <a href="http://ianh.co.nf" target="_blank"><img src="./images/portfolio_project1.jpg" alt="" /></a>
              <div>
                <h3>HelloWorld!</h3>
                <h4>Javascript | HTML5 Canvas | PHP | HTML | CSS</h4>
                <p>A game programing portfolio.</p>
                <p>An RPG game like interface with 2 games embedded ('Whac a mole'​ and 'Bubble shooter'​).</p>
                <p><a href="http://ianh.co.nf" target="_blank">http://ianh.co.nf</a></p>
              </div>
            </article>
            <hr>

            <article id="portfolio02">
              <a href="http://imtaekh.github.io/tic_tac_toe" target="_blank"><img src="./images/portfolio_tic_tac_toe.jpg" alt="" /></a>
              <div>
                <h3>Theme Changeable Tic Tac Toe</h3>
                <h4>jQuery | Javascript | HTML | CSS</h4>
                <p>Batman vs Superman, Android vs Iphone theme Tic Tac Toe, you can change theme after first game.</p>
                <p><a href="http://imtaekh.github.io/tic_tac_toe" target="_blank">http://imtaekh.github.io/tic_tac_teo</a></p>
              </div>
            </article>
            <hr>

            <article id="portfolio01">
              <a href="https://youtu.be/kQl3uBNnu-0" target="_blank"><img src="./images/portfolio_memo_calendar.jpg" alt="" /></a>
              <div>
                <h3>Memo Calendar</h3>
                <h4>JAVA | Swing</h4>
                <p>A calendar program saving notes as text files.</p>
                <p><a href="https://youtu.be/kQl3uBNnu-0" target="_blank">Watch demo on YouTube</a></p>
                <p><a href="http://1drv.ms/1MoU1fL" target="_blank">Download from OneDrive</a></p>
              </div>
            </article>
            <hr>

            <article id="portfolio00">
              <a href="https://youtu.be/T6kYyoOnQ9M" target="_blank"><img src="./images/portfolio_space_fighter.jpg" alt="" /></a>
              <div>
                <h3>Space Fighter</h3>
                <h4>C/C++ | window.h</h4>
                <p>Text based air plane shooting game for Windows console screen.</p>
                <p><a href="https://youtu.be/T6kYyoOnQ9M" target="_blank">Watch demo on YouTube</a></p>
                <p><a href="http://1drv.ms/1YAHEUG" target="_blank">Download from OneDrive</a></p>
              </div>
            </article>

          </section>
          <section id="section04" class="contact">
            <h2>"Thank you for your interest.<br>Please feel free to contact me!"</h2>
            <div class="links">
              <p><img src="./images/contact_email.png"><a href="mailto:imtaekh@gmail.com">imtaekh@gmail.com</a></p>
              <p><img src="./images/contact_github.png"><a href="https://github.com/imtaekh" target="_blank">https://github.com/imtaekh</a></p>
              <p><img src="./images/contact_linkedin.png"><a href="https://linkedin.com/in/imtaekhong" target="_blank">https://linkedin.com/in/imtaekhong</a></p>
            </div>
            <p class="copyright">2015 © Imtaek Hong</p>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
